name: Deploy to VPS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_USER }}
          password: ${{ secrets.VPS_PASS }}
          script: |
            cd bnsp-niputu
            git pull
            sudo docker build -t bnsp-app .
            sudo docker stop webapp || true
            sudo docker rm webapp || true
            sudo docker run -d -p 80:3000 --name webapp bnsp-app
